.card{
    border: 1px solid black;

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100px;
    border-radius: 10%;
    background-color: var(--yellow);
    flex-basis:25%;
  
}