body {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: #414141;
}
.board-container{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height:450px;

}
.board-row {
  display: flex;
  width: 300px;
  height: 100px;
  background-color: aqua;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px rgb(0, 0, 0);
 
  
}
.square {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  cursor: pointer;
}
